<div class="ui four column centered grid">
  <div class="column">
    <ul >
      <div class="row">
        <li class="ui list"> 
          <div class="ui card" style="width: 285px">
            <div class="content">
              <div class="header"><%= current_user.email%></div>
              <div class="description">
                <div class="header">
                <h3>About Me...</h3>
                </div>
                <h4><%= current_user.bio.description %></h4>
              </div>
            </div>
            <div class="extra content">
              <%= link_to '<i class="write icon"></i>'.html_safe, edit_bio_path(current_user.bio)%> 
              <%= link_to '<i class="trash icon"></i>'.html_safe, @bio, method: :delete %> 
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>